.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  .card-img {
    aspect-ratio: 237 / 340;
  }
}

.navbar-nav a.active {
  color: #232323;
  text-decoration: none;
}

body[data-bs-theme="dark"] {
  /* background-color: #222;

  .card {
    background-color: #111;
    color: #fff;
    border-color: #555;
  } */

  .navbar-nav a.active {
    color: #fff;
    text-decoration: none;
  }
}
